*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-Page{
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-sign{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  background-color: #ffffff;
  width: 35vw;
 height: 65vh;
 margin: auto;
 gap: 1.5rem;
 border-radius: 10px;
 box-shadow: 2px 2px gray;
}

.heading{
  font-size: 40px;
  font-weight: 500;
  margin: 2rem;
}

input{
  padding: 1rem;
  width: 30vw;;
}

.signup{
  padding: 1.2rem;
  background-color: aquamarine;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
}


.data-table{
  margin-top: 20px;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table,th,td{
  border: 1px solid black;
}

th,td{
  padding: 8px;
  text-align: left;
}
th{
  background-color: #f2f2f2;
}